.chatroomPage {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: -8px;
}

.chatPage {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: -8px;
}

.chatroomSection {
  width: 55vw;
  height: 80vh;
  margin: auto;
  border: 1px solid #eee;
  position: relative;
  bottom: 93%;
  left: 5%;
}

.chatSection {
  width: 55vw;
  height: 80vh;
  margin: auto;
  border: 1px solid #eee;
  position: relative;
  bottom: 93%;
  left: 5%;
}

.chatroomContent {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: 3.5rem;
  padding: 0.5rem;
  overflow: auto;
}

.chatContent {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: 3.5rem;
  padding: 0.5rem;
  overflow: auto;
}

.chatroomActions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  /* display: grid; */
  grid-template-columns: 1fr 72px;
  grid-gap: 1rem;
  border-top: 1px solid #eee;
}

.chatActions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  /* display: grid; */
  grid-template-columns: 1fr 72px;
  grid-gap: 1rem;
  border-top: 1px solid #eee;
}

.chatroomActions button {
  height: 100%;
}

.chatActions button {
  height: 100%;
}

.message {
  margin-bottom: 0.25rem;
}

.otherMessage {
  color: #0099cc;
  font-weight: bold;
}

.ownMessage {
  color: #0c0a52;
  font-weight: bold;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 25vw;
  transform: translate(-50%, -50%);
}

.cardHeader {
  background: #f7c52a;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: -0.75rem;
}

.cardBody {
  margin-top: 2rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
}

input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 87%;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
}

input:focus {
  border-bottom: 1px solid #ccc;
}

.buton-send {
  background: #f7c52a;
  border: none;
  padding: 0.75rem 0.8rem;
  border-radius: 2px;
  width: 13%;
  text-transform: uppercase;
  text-align: center;
}

.chatrooms {
  margin-top: 1rem;
}

.chats {
  margin-top: 1rem;
}

.chatroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.join {
  /* background: #f7c52a; */
  padding: 0.1rem 1rem;
  border-radius: 2px;
}

.btn-emoji {
  background: transparent;
  outline: none;
  border: none;
}

.emoji-pick {
  position: absolute;
  bottom: 30px;
  left: 80px;
}
