.userHelperLibrary{
    display: flex;
    position: absolute;
    right: 20px;
    top: 5%;
    z-index: 9999;
    font-family: "Roboto", sans-serif;
}

.user-helper-toogleButton{
    cursor: pointer;
    margin-right: -6px;
    background-color: #001D3D;
    max-height: 60px;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-helper-toogleButton i{
    color: #ffffff;
}

.userHelperLibrary i{
    font-size: 30px;
}

.user-helper-block{
    background-color: #001D3D;
    padding: 7px;
    border-radius: 5px;
    width: 300px;
}

.user-helper-content{
    display: flex;
    flex-direction: column;
}

.user-helper-topButton{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-helper-btn{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border: solid 1px #001D3D;
}

.user-helper-icon{
    min-width: 40px;
    text-align: center;
    margin-right: 5px;
}

.user-helper-bottomButton{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.helper-btn-bottom{
    text-align: center;
    justify-content: center;
}

.helper-btn-bottom i{
    font-size: 15px;
    margin-left: 10px;
}

.user-helper-middleContent{
    display: grid;
    grid-template-columns: 50% 50%;
}

.user-helper-midBtn{
    background-color: #ffffff;
    border: 1px solid #001D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    cursor: pointer;
    text-align: center;
}

.user-helper-midBtn i{
    margin-bottom: 10px;
}

.pressed-btn{
    background-color: #FFC300 !important;
}

.helper-btn:active{
    background-color: #FFC300 !important;
}
.user-helper-fontBtn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.user-helper-block-d-none {
    display: none;
}



/* core classes */
.helper-core-invert{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.helper-core-grey{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.helper-core-underline a{
    text-decoration: underline !important;
}

.helper-core-blmouse{
    cursor:url('./assets/black-cursor.png'), auto;
}

.helper-core-tabHighlight *:focus {
    background-color: #FFD60A !important;
}

.helper-core-whmouse{
    cursor: url('./assets/white-cursor.png'), auto;
}

.helper-core-zoom{
    zoom: 120%;
}

.helper-core-blockAnim{
  animation-play-state: paused !important;
}

.helper-core-titlesubline h1{
    border-bottom: solid 2px #111111 !important;
}

.helper-core-titlesubline h2{
    border-bottom: solid 2px #111111 !important;
}

.helper-core-titlesubline h3{
    border-bottom: solid 2px #111111 !important;
}

.helper-core-titlesubline h4{
    border-bottom: solid 2px #111111 !important;
}

.helper-core-titlesubline h5{
    border-bottom: solid 2px #111111 !important;
}

.helper-core-titlesubline h6{
    border-bottom: solid 2px #111111 !important;
}